SE8_ADDR=0.0.0.0:8000
SE8_BASE_URL=https://se8.us
SE8_VOL_DIR=./vol

SE8_MAX_CONCURRENT_REQUESTS=20
SE8_WORKER_COUNT=4
SE8_MAX_PAGE=2000

SE8_HTTP_TIMEOUT=60s
SE8_SESSION_TTL=720h

SE8_LOG_LEVEL=info
SE8_LOG_FORMAT=text

SE8_DEBUG=false
